._Form

	&__Group

		&:not(:first-child)
			padding-top: 20px
			border-top: 1px solid $palette.border

		&:not(:last-child)
			padding-bottom: 20px

		& > h2
			display: block
			margin-bottom: 18px

			&:first-letter
				text-transform: uppercase

			& + legend
				margin-top: -15px

		& > legend
			font-size: 12px
			color: $palette.descent.color
			margin-bottom: 18px

	&__Field

		&--isAccent
			border: 1px solid $palette.border
			border-radius: 6px
			padding: 20px
