._Avatar
  background: rgb(210, 97, 45)
  color: #FFF
  border-radius: 5px
  height: 36px
  width: 36px
  font-size: 18px
  text-align: center
  overflow: hidden

  img
    display: block
    width: 100%
    height: 100%

  span
    text-transform: uppercase
    line-height: 36px

  &--Smaller
    height: 35px
    width: 35px

  &--Bigger
    height: 72px
    width: 72px
    border-radius: 8px

  &--Biggest
    height: 129px
    width: 129px
    border-radius: 8px


