._SearchInput
  position: relative

  &__Icon
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 12px
    color: $palette.descent.color

  &__Input
    border: none
    outline: none
    background-color: $palette.alt.background
    color: $palette.color
    border-radius: 40px
    height: 30px
    padding: 0 10px 0 45px

    &::placeholder
      color: $palette.descent.color

