@require 'deepgarden'

$scrollbar = {
 width: 5px
 height: 5px
}
$palette = {
  color: #172B4D // @Inuse
  background: #FFF // @Inuse
  border: #DFE1E6 // @Inuse
}

$palette.placeholdersColor = #DFE1E6

$palette.alt = {
 color: #172B4D
 background: #F4F5F7 // @Inuse
 border: #172B4D
}

$palette.accent = {
 color: #16a085
 background: #16a085
 border: #16a085
}

$palette.descent = {
 color: #737F94 // @Inuse
 background: #f1f3f7
 border: #e0e3e9
}

$palette.strict = {
 color: #4a4a4a
 background: #f0f0f0
 border: #d1d1d1
}
$palette.hover = {
 color: #4a4a4a
 background: #F4F5F7
 border: #d1d1d1
}
$palette.disabled = {
 color: $palette.placeholdersColor
 background: #F4F5F7
 border: $palette.border
}
$palette.notice = {
 color: #F4F5F7
 border: #F4F5F7
 background: #F4F5F7
}
$palette.success = {
 color: #FFDE00
 border: #FFDE00
 background: #FFDE00
}
$palette.warning = {
 color: #ecc63e
 border: #ecc63e
 background: #e8cd6a
}
$palette.danger = {
 color: #FFE1E1
 border: #FFE1E1
 background: #FFE1E1
}
$palette.light = {
 color: #9EA9BB //@inUse
}
$borderRadius = 6px
overlay()
 background: rgba(117, 203, 173, 0.3)

$grid = {
	cols: 12
	gutter: 10px
}
