._InputText

  input
    width: 100%
    border: solid 1px $palette.border
    transition: all .3s cubic-bezier(.645, .045, .355, 1)
    border-radius: $borderRadius
    color: $palette.color
    height: 30px
    font-size: 12px
    padding: 0 12px

    &::placeholder
      color: $palette.placehildersColor

    &:disabled
      border-color: $palette.disabled.border
      background-color: $palette.disabled.background

    &:hover
      border-color: $palette.descent.border

    &:focus
      border-color: $palette.color

