._InputAvatar

  &__Avatar
    display: block
    width: 72px
    height: 72px
    border-radius: 8px

  &--Bigger
    width: 200px

    ._Input

      &__Input
        width: 200px

    ~/__Avatar
      width: 200px
      height: 200px
      margin-bottom: 15px

