types()
  &--Success&
    color: #172B4D
    &:hover
      background-color: #FFEF80
      border-color: #FFEF80
    &:focus
      background-color: #F3DD4A
      border-color: #F3DD4A
  &--Danger&
    color: #FF3939
    &:hover
      background-color: #FF3939
      border-color: #FF3939
      color: #FFFFFF
    &:focus
      background-color: #FF6969
      border-color: #FF6969
      color: #FFFFFF
  &--Notice&
    color: #172B4D
    &:hover
      background-color: #CBCFD9
      border-color: #CBCFD9
    &:focus
      background-color: #B0BAD2
      border-color: #B0BAD2

default()
  color: #172B4D
  font-size: 14px
  line-height: normal
  border-radius: 6px
  border-color: #DFE1E6
  outline: none
  transition: all .3s cubic-bezier(.645,.045,.355,1)
  display: inline-flex
  align-items: center
  justify-content: center
  &:hover
    border-color: #172B4D
  &:focus
    box-shadow: none
    border-color: #172B4D
  &__Icon
    height: 100%
    display: inline-flex
    align-items: center


._Button&
  default()
  font-size: 12px
  height: 30px
  background: $palette.alt.background
  border-color: $palette.alt.background
  types()

  &--Smaller&
    font-size: 10px
    height: 30px
    padding: 0 7px

  span
    color: $palette.descent.color
    &::before
      content: ' '
      white-space: pre

  svg
    height: 20px
