._Modal

  &__Overlay
    background-color: rgba(0,0,0,.45)
    z-index: 1000

  &--isPending
    background: transparent
    box-shadow: none

  &__Modal
    background: #FFF
    padding: 30px 50px

  &__Header
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: none
    padding: 0
    margin-bottom: 10px

  &__Title
    font-size: 20px
    font-weight: 500

  &__Closing
    cursor: pointer
    padding: 10px
