._Tabs__Control
  padding: 0

._Tabs
  width: 100%
  &__Control
    padding: 0

  &__Title
    background: #fff
    color: #737F94
    font-weight: 500
    font-size: 14px
    width: 226px
    height: 40px
    padding: 0
    display: flex
    align-items: center
    justify-content: center

    &--Active
      color: #172B4D
      border-bottom: 3px solid #FFDE00
      margin-bottom: -1px