._GoogleButton
  background: #FFFFFF
  border: 1px solid #DFE1E6
  font-size: 18px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  outline: none
  transition: all .3s cubic-bezier(.645,.045,.355,1)
  width: 470px
  padding: 25px 114px 25px 114px
  cursor: pointer
  display: flex
  align-items: center
  color: $palette.color

  svg
    margin-right: 15px

  &:hover
    box-shadow: 8px 10px 23px rgba(0, 0, 0, 0.12)

  &:focus
    background: #DFE1E6
