._InputSelect

  ._InputSelect

    &__Indicator
      width: 30px
      height: 30px
      display: flex
      align-items: center
      justify-content: center
      color: $palette.descent.color

      svg
        display: block

    &__control
      border-color: $palette.border
      border-radius: 6px
      min-height: 30px
      box-shadow: none

      &:hover
        border-color: $palette.border

      &--is-focused
        border-color: $palette.color

        &:hover
          border-color: $palette.color

    &__value-container
      height: 30px

    &__indicator-separator
      display: none

    &__input

      input
        height: auto
