._InputImage

  &__Image
    display: flex
    width: 72px
    height: 72px
    border-radius: 8px
    flex-shrink: 0
    margin-right: 20px
    overflow: hidden
    background-position: center
    background-size: cover

    &--Placeholder
      border: 1px solid $palette.border


  ._Input__Input
    display: flex
    align-items: center

    input
      display: none;

  &--Bigger
    width: 200px

    ._Input

      &__Input
        width: 200px

    ~/__Avatar
      width: 200px
      height: 200px
      margin-bottom: 15px

