._SideBar
	background-color: $palette.notice.background
	height: 100%
	width: 174px
	min-width: 174px
	padding: 17px 0 41px
	display: flex;
	flex-direction: column
	justify-content: space-between
	border-right: 1px solid #DFE1E6

	&__Item
		display: flex
		height: 37px
		padding: 0 20px
		align-items: center
		cursor: pointer
		margin: 8px 0
		position: relative
		color: $palette.descent.color

		&:hover
			background-color: rgb(223, 225, 230)

		&.active
			color: $palette.color
			font-weight: 600

			&::before
				content: ''
				position: absolute
				left: 0
				width: 8px
				height: 100%
				border-radius: 0 8px 8px 0
				background: $palette.color

	&__Icon
		margin-right: 16px
		height: 20px
		width: 20px

	&__LogOut
		color: #FF3939
		margin-left: 20px
		margin-top: 30px
		display: flex
		align-items: center
		cursor: pointer

	&__Back
		font-weight: 600
		margin: 0 0 35px 10px
		display: flex
		align-items: center
